@font-face {
    font-family: 'Poppins';
    src: url('../resources/Poppins.ttf');
}
:root {
    --box-size: 4em;
    --dark: #1f1f1f;
    --nav: #3f3f3f;
    --bright: whitesmoke;
    --fg1: springgreen;
    --fg2: orangered;
    --fg3: orange;
    --fg4: grey;
}

* {
    background: var(--dark);
    color: var(--bright);
    font-family: 'Poppins', sans-serif;
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    width: 100vw;
    display: grid;
    align-items: center;
    justify-content: center;
}

header {
    font-size: 2rem;
    font-weight: bolder;
    color: var(--fg1);
    display: flex;
    justify-content: center;
}
footer {
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
}

section {
    display: flex;
    justify-content: center;
}
button {
    border-radius: 5px;
    background: var(--bright);
    color: var(--dark);
    padding: 5px;
}
table {
    width: 100vw;
    transform: translateX(20px);
}
.boxcontainer {
    width: 100vw;
}
.innerbox {
    height: calc(var(--box-size) * 7+10px);
}

.box {
    background: var(--bright);
    color: var(--dark);
    width: var(--box-size);
    height: var(--box-size);
    border-radius: 10%;
    text-align: center;
    /* font-size: 0.8rem; */
    font-family: sans-serif;
    font-weight: bold;
}
.head,
.indicator {
    background: none;
    color: var(--bright);
    width: var(--box-size);
    height: var(--box-size);
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}
.indicator {
    word-break: break-all;
}

.guesser {
    top: 10px;
    margin: 10px;
    align-items: center;
    column-span: all;
    width: 100vw;
}

.winner,
.looser {
    display: grid;
    font-size: 2em;
    text-align: center;
}

datalist option {
    background: white;
    color: dodgerblue;
}
